 {% load static %}
{% verbatim %}
<div class="card weather lead">
	<div class="row">
		<div class="col-md-5">
			<div class="weather-icon">
				<i class="wi {{ data.icon }}"></i>
			</div>
			<!-- <img class="weather-icon" src="{{ data.image }}"> -->
		</div>
		<div class="col-md-7">
	  		{{ data.text }} <span class= "temperature">{{ data.temperature }}</span><span class= "degree-c"> &#x2103</span>
		</div>
	</div>
</div>
{% endverbatim %}