html, body, body .container-fluid, body .container-fluid .row, body .container-fluid .row > div {
  height: 100%;
}
html, body {
  overflow: hidden;
}
/*.left-drawer, .main-content, .right-drawer {
  overflow: scroll;
}*/
.no-padding {
  padding: 0px;
}
.card {
  padding: 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);

}
.weather {
  font-size:xx-large;
  color: white;
  background: #1E1E1E;
}
.timer {
  font-size:xx-large;
  color: white;
  background: #006396;
}
.temperature {
  font-size:120%;
}
.degree-c {
  font-size:60%;
}
.left-drawer {
  background: #195266;
}
.left-drawer, .right-drawer, .main-content {
  overflow-y: auto;
}
.notice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
}
.news-image > img {
  width: 100%;
  height: 200px;
}
.news-content {
  padding: 0px 10px;
}
.quote {
  background: #E1E1E1
}
.lead {
  margin-bottom: 0px;
}
.weather-icon {
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
}
.notice-text-desc {
  background: #7ACCC8;
  color: #FFFFFF;
}
.notice-image-desc {
  padding: 10px 15px 10px 15px;
  background: #EEEEEE;
  margin-top: 20px;
  margin-bottom: 0px; 
}
.down {
  flex-grow: 1;
  overflow: hidden;
}
.wide {
  width: 100%
}
.notice-cards {
  margin-top: 30px
}