{% extends 'main_site/base.html' %} {% load static %} {% block extra_css %}
<!-- <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
{% endblock %} 

{% block title %} Channel {% endblock %} 

{% block navbar %}
  {% include "main_site/baby_templates.html" with navbar_channels=True %}
{% endblock %} 

{% block sidebar %} {% endblock %} 

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="margin-0"> Channel: {{channel.name}} </h4>
    </div>
    <div class="panel-body panel-merge-callouts">
      <div class="bs-callout merge-panel bs-callout-info">
          <h4> Details </h4>
          <p> {{channel.details}} </p>
      </div>
      <div class="bs-callout merge-panel bs-callout-danger">
        <h4> Admins </h4> 
        {% if not admins %}
          <p>Sorry no admins exist for this channel! WEIRD! </p>
          {% else %}
          <p>
              {% include "main_site/users_channel_content.html" with permissions=admins %} 
          </p>
        {% endif %}
        
        <h4> Approvers </h4> 
        {% if not approvers %}
          <p>Sorry no approvers exist for this channel! The admin has all controls! </p>
          {% else %}
          <p>
              {% include "main_site/users_channel_content.html" with permissions=approvers %} 
          </p>
        {% endif %}
        
        <h4> Uploaders </h4> 
        {% if not uploaders %}
          <p>Sorry no uploaders exist for this channel! Contact Admins/Approvers for adding some
          </p>
          {% else %}
          <p>
              {% include "main_site/users_channel_content.html" with permissions=uploaders %} 
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">Channel Notices</div>
      <div class="panel-body">
          <p>The pages contains all the notices published on this particular channel:</p>
      </div>
      <!-- Table -->
      {% if contents %}
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Content Type</th>
                  <th>Title</th>
                  <th>Publisher</th>
                  <th>Approval Status</th>
              </tr>
          </thead>
          <tbody>
              {% for content in contents %}
              <tr data-notice="{{content.id}}">
                <td class="clickable-element" data-href={% url 'my_content' content.id%}>{{content.content_type}}
                </td>
                <td>{{content.title}}</td>
                <td>{{content.submitter.username}}</td>
                <td>
                  {% if content.is_approved %}
                  <button type="button" class="btn btn-success disabled">Approved</button>
                  {% else %}
                  <button type="button" class="btn btn-warning" onclick="ApproveFunc(this);">Approve</button>
                  {% endif %}
                </td>
              </tr>
              {% endfor%}
          </tbody>
      </table>
      {% endif %}
  </div>
</div>
{% endblock %} 

{% block extra_js %}
<!-- Angular Material Dependencies -->
<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/custom.admin.js" %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-element").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
