<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}style.css" /> -->
    <title>
        {% block title %}Dashboard{% endblock %}
    </title>
</head>

<body>
    <h3><p>Welcome {{request.user.username}} </p></h3>
    <p> Your Actions: </p>
        <ul>
            <li>
                <a href="{% url 'notices:my_contents' %}"> View My Contents </a>
            </li>

            <li>
                <a href="{% url 'notices:my_displays' %}"> View my displays </a>
            </li>

            <li> 
                <a href="{% url 'notices:create_content' %}" > Create New Content </a> 
            </li>
            
            <li>
                <a href="{% url 'notices:approve_content' %}"> Approve a published item </a>
            </li>

            </ul>
        </ul>
</body>

</html>
