{% extends 'main_site/base.html' %} {% load static %} {% block extra_css %}
<!-- <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
{% endblock %} 
{% block title %} My Contents  {% endblock %} 

{% block navbar %}
  {% include "main_site/baby_templates.html" with navbar_contents=True %}
{% endblock %} 

{% block sidebar %} {% endblock %} 

{% block content %}
<div class="container">
    {% if my_content %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><p>Welcome {{request.user.username}} </p></h3>
          <h4><p> Your Contents: </p></h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed margin-bot-5">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Approval Status</th>
              </tr>
            </thead>

            <tbody>
              {% for content in my_content %}
                <tr data-notice="{{content.id}}"  %} >
                  <td 
                    class="clickable-element" 
                    data-href={% url 'my_content' content.id%}
                  > {{content.id}} </td>
                  <td 
                    class="clickable-element" 
                    data-href={% url 'my_content' content.id%}
                  > {{content.type}} </td>
                  <td 
                    class="clickable-element" 
                    data-href={% url 'my_content' content.id%}
                  > {{content.title}} </td>
                  <td 
                    class="clickable-element" 
                    data-href={% url 'my_content' content.id%}
                  > {{content.description}} </td>
                  <td>
                      {% if content.approved %}
                      <button type="button" class="btn btn-success disabled">Approved</button>
                      {% else %}
                      <button type="button" class="btn btn-warning" onclick="approve(this);">Approve</button>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='thick-hr'>
            <hr>
          </div>
        </div>
      </div>
    {% endif %}
</div>
{% endblock %} 

{% block extra_js %}
  <script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-element").click(function() {
      window.document.location = $(this).data("href");
    });
  });
  </script>
{% endblock %}
