<html>
<title> Testing Upload </title>

<body>
    <h3><p>Welcome {{request.user.username}} </p></h3>
    <h5><p>You Can Create New Content By This Form </p> </h5>

    <form action="{% url 'notices:upload_content' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="title">Title: </label>
            <input type="text" name="title" value="" /> 
        </p>

        <p>
            <label for="desc">Description: </label>
            <input type="text" name="desc" value="" /> 
        </p>
        
        <p>
            Choose Type of Content: <br/>
            <input type="radio" name="content_type" id="0" value="text" />
            <label for="0"> Text </label> <br />

            <input type="radio" name="content_type" id="1" value="ppt" />
            <label for="1"> Google slide (link) </label> <br />

            <input type="radio" name="content_type" id="2" value="img" />
            <label for="2"> Image (upload only) </label> <br />

<!--             <input type="radio" name="content_type" id="3" value="pdf" />
            <label for="3"> PDF </label> <br />
 -->
        </p>

        <p>
            <label for="image">Image: </label>
            <input type="file" name="image" accept="image/*" />
        </p>
            OR <br />
        <p>
            <label for="link">Link: </label>
            <input type="text" name="link" />
        </p>

        <input type="submit" value="create" /?>

    </form>
</body>

</html>
