{% extends 'main_site/base.html' %} {% load static %} 

{% block title %} Add Notice  {% endblock %} 
{% block navbar %}
  {% include "main_site/baby_templates.html" with navbar_add_notice=True %}
{% endblock %} 

{% block sidebar %} {% endblock %} 

		{% block extra_css %}
		<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
		<link rel="stylesheet" href="{% static "css/pikaday.css" %}"/>
		<link rel="stylesheet" href="{% static "css/jquery.ptTimeSelect.css" %}"/>
		<link rel="stylesheet" href="{% static "css/custom.admin.css" %}">

    	{% endblock %}

{% block content %}
	<body layout="column">

		<div class="container-fluid">
			<div class="row">
				<!-- Left Sidebar -->
				<div class="col-md-2">

				</div>

				<!-- Rigth Pane -->
				<div class="col-md-6">
					<form>
					{% csrf_token %}
						<div class="form-group">
						{% verbatim %}
							<div class="input-row">
								<h4>Basic Info</h4>
								<div class="input-row">
									<div class="input-group">
										<span class="input-group-addon" id="notice-type">Notice Type</span>
										<div id="notice_type" class="btn-group" role="group" aria-label="notice-type">
											<button type="button" class="btn btn-default" ng-class="{active: main.notice.content_type==0}" ng-click="main.content_type_select($event)" value="0">Text</button>
											<button type="button" class="btn btn-default" ng-class="{active: main.notice.content_type==1}" ng-click="main.content_type_select($event)" value="1">Image</button>
											<button type="button" class="btn btn-default" ng-class="{active: main.notice.content_type==2}" ng-click="main.content_type_select($event)" value="2">Pdf</button>
											<button type="button" class="btn btn-default" ng-class="{active: main.notice.content_type==3}" ng-click="main.content_type_select($event)" value="3">PPT</button>
										</div>
									</div>
								</div>
								<div class="input-row">
									<div class="input-group">
										<span class="input-group-addon" id="notice-title">Title</span>
										<input type="text" class="form-control" placeholder="Title of notice" ng-model="main.notice.title" aria-describedby="notice-title">
									</div>
								</div>
								<div class="input-row" ng-show="main.notice.content_type==0">
									<div class="input-group">
										<span class="input-group-addon" id="notice-description">Description</span>
										<textarea class="form-control" rows="3" placeholder="Notice Content" ng-model="main.notice.description" aria-describedby="notice-description"></textarea>
									</div>
									<p>Should be atleast 10 characters long</p>
								</div>
							</div>
							<div class="input-row" ng-show="main.notice.content_type==1 || main.notice.content_type==2 || main.notice.content_type==3">
								<h4>Upload</h4>
								<div class="input-row" ng-show="main.notice.content_type==1 || main.notice.content_type==2 || main.notice.content_type==3">
									<div class="input-group">
										<span class="input-group-addon" id="notice-link">Link (PPT / Image / PDF)</span>
										<input type="url" class="form-control" placeholder="Link" ng-model="main.notice.link" aria-describedby="notice-link">
									</div>
									<p class="help-block">Upload any PPT / Image / PDF here.</p>
									<h6 class="text-center" ng-show="main.notice.content_type==1 || main.notice.content_type==2">OR</h6>
								</div>
								<div class="input-row" ng-show="main.notice.content_type==1 || main.notice.content_type==2">
									<div class="input-group">
										<span class="input-group-addon" id="notice-file">File (PDF / PPT / Image)</span>
										<input id="input-notice-file" type="file" enctype="multipart/form-data" name="file" class="form-control" placeholder="Notice" aria-describedby="notice-file">
									</div>
								</div>
							</div>
							{% endverbatim %}
							<div class="input-row">
								<h4>Push To Channels</h4>
								<div class="input-group">
									<span class="input-group-addon" id="notice-channel-name">Channels to post</span>
									<select class="form-control" ng-model="main.notice.channel_id" aria-describedby="notice-channel-name">>
									{% for channel in channels %}
										<option value="{{ channel.id }}">{{ channel.name }}</option>
									{% endfor %}
									</select>
								</div>
							</div>
							{% verbatim %}
							<div class="input-row">
								<h4>Notice Validity</h4>

								<div class="input-row">
									<div class="input-group">
										<p id="validity">
											<input id="valid-from-date" type="text" class="date start" placeholder="Valid FROM date"/>
											<input id="valid-from-time" type="text" class="time start" placeholder="Valid FROM time"/><br />
											<input id="valid-to-date" type="text" class="date end" placeholder="Valid TILL date"/>
											<input id="valid-to-time" type="text" class="time end" placeholder="Valid TILL time"/>
										</p>
									</div>
								</div>
							</div>

							<div class="input-row">
								<button type="submit" class="btn btn-primary" ng-click="main.addNotice()">Add Notice</button>
							</div>

							<div class="input-row">

								<!-- Modal -->
								<div class="modal fade" id="submit-notice-modal" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Response</h4>
											</div>
											<div class="modal-body">
												<div class="alert alert-success" role="alert" ng-show="main.upload_error.length == 0">
													<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
													<strong> Congrats! </strong>Notice has been added successfully
												</div>
												<div class="alert alert-danger" role="alert" ng-show="main.upload_error.length > 0">
													<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
													<strong> Oh Snap! </strong>{{ main.upload_error }}
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="main.upload_error.length == 0">Add New Notice</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						{% endverbatim %}
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

	{% endblock %}
	<!-- Angular Material Dependencies -->

    {% block extra_js %}
  	<script type="text/javascript">
  		var ID = '{{ id }}';
  		var AREA = 1;
  		var ROOM = 14;
  	</script>
    
    
  	<script type="text/javascript" src="{% static "js/pikaday.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/pikaday.jquery.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/jquery.ptTimeSelect.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/jquery.timepicker.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/datepair.js" %}"></script>
  	<script type="text/javascript" src="{% static "js/custom.admin.js" %}"></script>
    <script src={% static "js/angular.min.js" %}></script>
    {% endblock %}
</html>