{% extends 'main_site/base.html' %}
{% load static %}
  
{% block title %} My Contents {% endblock %}


{% block navbar %}
    <li class="active"><a href="#">Contents</a></li>
{% endblock %}

{% block sidebar %} {% endblock %}


{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      Panel content
    </div>
    <div class="panel-footer">
      Panel footer
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">My Content</div>
  <div class="panel-body">
    <p>The pages contains all the content published by you as publisher</p>
  </div>

  <!-- Table -->
  {% if my_content %}
      <!-- <h4 class='margin-top-20'>- Channels with admin rights</h4>     -->
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Content Type</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Approval Status</th>
      </tr>
    </thead>
     <tbody>
     {% for content in my_content %}
      <tr>
        <td class="clickable-element" ng-href=track/getNotice/?notice_id><u>{{content.type}}</u></td>
        <td>{{content.title}}</td>
        <td>{{content.publisher}}</td>
        <td>
        {% if channelNotice.approved %}
          Approved
        {% else %}
          Unapproved
        {% endif %}
        </td>
      </tr>
      {% endfor%}
    </tbody>
    </table>
  {% endif %}
</div>
</div>

{% endblock %}

{% block extra_js %}  
  <!-- Angular Material Dependencies -->
  <script src="{% static "js/angular.min.js" %}"></script>
  <script src="{% static "js/custom.admin.js" %}"></script>
  
  <script type="text/javascript">
    jQuery(document).ready(function($) {
    $(".clickable-element").click(function() {
        console.log("Clicked xxx");
        window.document.location = $(this).data("href");
    });
  });
  </script>
  
{% endblock %}
