{% extends 'main_site/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- <link href={% static "css/login.css" %} rel=stylesheet> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
{% endblock %}
  
{% block extra_js %}
    <script src={% static "js/custom.admin.js "%}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
  </script>
{% endblock %}

{% block title %}    
    Channel
{% endblock %}


{% block navbar %}
    <li class="active"><a href="#">Channel</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Channel Notices</h2>
  <p>The pages contains all the notices published on this particular channel:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Content Type</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Approval Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="channelNotice in main.channelNotices">
        <td class='clickable-row'><a ng-href="{{channelNotice.id}}">{{channelNotice.id}}</a><u>{{ channelNotice.type }}</u></td>
        <td>We are living on earth</td>
        <td>Einstein</td>
        <td><button type="button" class="btn btn-primary" onclick="myFunc();">Approve</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}